.mine .mine_item .mine_bg{
	display: inline;
	zoom: 1;
}
.found .kuang form input{
	border: 0;
	line-height: 28px;
}
.buycar .car_ico{
	display: inline;
	zoom: 1;
}
.chong dd input{
	line-height: 22px;
}
.found .kuang .xuan .xuan_ico{
	display: inline;
	zoom: 1;
}
.about4 a{
	display: inline;
	zoom: 1;
	margin-right: 8px;
}
.one_ad{
	display: inline;
	zoom: 1;
}
.sent .md, .md{
	display: inline;
	zoom: 1;
}
.time .ico_time{
	display: inline;
	zoom: 1;
}
.time .time_text{
	display: inline;
	zoom: 1;
	margin-left: 6px;
}

.co2_title{
	vertical-align: 0;
}
.pro_title{
	display: inline;
	zoom: 1;
	margin-top: -5px;
}
.gou7{
	display: inline;
	zoom: 1;
}
.jian_right, .store_left .store_ico, .pic_nav a, .bianhao, .comebuy .comebuy_ico, .info8_ico{
	display: inline;
	zoom: 1;
}
.all_nav a{
	display: inline-block;
	display: inline;
	zoom: 1;
}
.jian_right{
	vertical-align: 3px;
}
