body, h1, h3, dl, dd{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: #333;
}
img{
	vertical-align:top;
	border: none;
}
input{
	padding: 0;
	border: none;
}
select{
	border: none;
