li{
	vertical-align:top;
}

.lib-1 .hct{
	overflow:hidden;
}
.bottom-1,.bottom-2,.bottom-3,.bottom-4,.bottom-5,.bottom-6,.bottom-7,.kx-more,.wanan,.tangtang,.xiaoao,.title-more,.nav-2,.more-8,.xiaoshu{
	display:inline;
}
.nav4 .san{
	_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/xuebitu.png", sizingMethod="crop");	
}
.bq-t{
	filter:alpha(opacity=75);
}
.huyi,.xyha,.xidi{
	display:inline;
}
.wenhao,.hlw,.object,.messge{
	display:inline;
	zoom:1;
}
.liebiao{
	filter:alpha(opacity=90);
}
.clearfic{
	zoom:1;
}
.push-top,.push-font{
	filter:alpha(opacity=65);
}
.radius,.portrai-bottom{
	filter:alpha(opacity=50);
}
.shuo{
	filter:alpha(opacity=80);
}
.item-2,.item-11,.item-17,.item-kong,.item-8,.item2-1{
	display:inline;
}
.tu-1{
	filter:alpha(opacity=45);
}
.push1{
	filter:alpha(opacity=40);
}
.filght{
	filter:alpha(opacity=40);
}
